unpackaged/main/default/flows/Account_Update_Account_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Classification_Value</name>
        <label>Add Classification Value</label>
        <locationX>692</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>ProductsVariableText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.QS_Product__r.Line_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductsVariableText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_None</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Value</name>
        <label>Assign Current Value</label>
        <locationX>226</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>ProductsVariableText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QS_Account__r.QS_Snowball_Product_Solution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.QS_Account__r.QS_Snowball_Product_Solution__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contains_condition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_None</name>
        <label>Remove None</label>
        <locationX>909</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>filterMultivariableValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRemoveNULL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Account_Field</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>checkConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Contains_condition</name>
        <label>Contains condition</label>
        <locationX>486</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>Add_Classification_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MultiVariable</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.QS_Product__r.Line_Classification__c</elementReference>
                </rightValue>
            </conditions>
            <label>Same value</label>
        </rules>
    </decisions>
    <formulas>
        <name>varRemoveNULL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!ProductsVariableText},&#39;None;&#39;,null),&#39;None&#39;,null)</expression>
    </formulas>
    <interviewLabel>Account: Update Account Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Account Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_Account_Field</name>
        <label>Update the Account Field</label>
        <locationX>1095</locationX>
        <locationY>507</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QS_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QS_Snowball_Product_Solution__c</field>
            <value>
                <elementReference>filterMultivariableValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>219</locationX>
        <locationY>147</locationY>
        <connector>
            <targetReference>Assign_Current_Value</targetReference>
        </connector>
        <object>QS_Customer_Asset__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>filterMultivariableValue</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MultiVariable</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsVariable</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsVariableText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varTempClassification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
