unpackaged/main/default/flows/Account_Update_Account_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Purchased_Product_to_Variable</name>
        <label>Add Purchased Product to Variable</label>
        <locationX>842</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>ProductsVariableText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_Purchased_Product.QS_Product__r.Line_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductsVariableText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Purchased_Product</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Account: Update Account Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Account Field</label>
    <loops>
        <name>Loop_through_all_Purchased_Product</name>
        <label>Loop through all Purchased Product</label>
        <locationX>532</locationX>
        <locationY>434</locationY>
        <collectionReference>Query_fo_Purchased_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Purchased_Product_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Account_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_fo_Purchased_Products</name>
        <label>Query fo Purchased Products</label>
        <locationX>199</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Purchased_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QS_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QS_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QS_Customer_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Account_Field</name>
        <label>Update the Account Field</label>
        <locationX>566</locationX>
        <locationY>670</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Price_Book__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>QS_Snowball_Product_Solution__c</field>
            <value>
                <elementReference>ProductsVariableText</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Query_fo_Purchased_Products</targetReference>
        </connector>
        <object>QS_Customer_Asset__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductsVariable</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsVariableText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
