unpackaged/main/default/flows/Account_Update_Related_account_field_from_Purchased_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Purchaseproductisactive</name>
        <label>Purchaseproductisactive</label>
        <locationX>1018</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>Purchasedproductisactive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_records.QS_New_Asset_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PurchaseproductisInactive</name>
        <label>PurchaseproductisInactive</label>
        <locationX>1217</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>PurchaseproductInactive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_records.QS_New_Asset_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CustomerRecordIDs</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0127j000000L7zrAAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>Proposerecordid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0127j000000L7zhAAC</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Purchase_Product_Status</name>
        <label>Check Purchase Product Status</label>
        <locationX>675</locationX>
        <locationY>450</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Purchasedproductisactive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_account_field</targetReference>
            </connector>
            <label>Status is Active</label>
        </rules>
        <rules>
            <name>Status_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PurchaseproductInactive</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_type_field_to_Former_Customer</targetReference>
            </connector>
            <label>Status is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Purchased_product_status</name>
        <label>Check Purchased product status</label>
        <locationX>993</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>PurchaseproductisInactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Purchased_Product_is_active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_records.QS_New_Asset_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_records.QS_New_Asset_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchaseproductisactive</targetReference>
            </connector>
            <label>Purchased Product is active</label>
        </rules>
    </decisions>
    <description>Update the account field (Record type to customer and Type field) based on Purchased product status field.</description>
    <interviewLabel>Account - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Related account field from Purchased Product</label>
    <loops>
        <description>check purchased Product status.</description>
        <name>Loop_through_records</name>
        <label>Loop through records</label>
        <locationX>605</locationX>
        <locationY>225</locationY>
        <collectionReference>StorePurchasedProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Purchased_product_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Purchase_Product_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>462</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchased_Product_records</name>
        <label>Get Purchased Product records</label>
        <locationX>269</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QS_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QS_Account__c</elementReference>
            </value>
        </filters>
        <object>QS_Customer_Asset__c</object>
        <outputReference>StorePurchasedProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QS_New_Asset_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_account_field</name>
        <label>update account field</label>
        <locationX>473</locationX>
        <locationY>587</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QS_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Proposerecordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CustomerRecordIDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_type_field_to_Former_Customer</name>
        <label>Update type field to Former Customer</label>
        <locationX>837</locationX>
        <locationY>637</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QS_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Former Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Purchased_Product_records</targetReference>
        </connector>
        <object>QS_Customer_Asset__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>allStorePurchasedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QS_Customer_Asset__c</objectType>
    </variables>
    <variables>
        <name>AnyPurchasedproductisactive</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Purchasedproductisactive</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PurchasedproductRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QS_Customer_Asset__c</objectType>
    </variables>
    <variables>
        <name>PurchaseproductInactive</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StorePurchasedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QS_Customer_Asset__c</objectType>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
