unpackaged/main/default/flows/Account_Plant_Update_PF_Service_Product_multiselect_picklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_PF_Service_Product_Value</name>
        <label>Assignment PF Service Product Value</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PF_Service_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPFServiceProduct</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>pfServiceMultiselectVar</name>
        <label>pfServiceMultiselectVar</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>varPFServiceProduct</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Drive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPFServiceProduct</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Drive Pro</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPFServiceProduct</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Asset Build</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_PF_Service_Product_Value</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Account Plant : Update PF Service Product multiselect picklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Plant : Update PF Service Product multiselect picklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>pfServiceMultiselectVar</targetReference>
        </connector>
        <object>Account_Plant__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varPFServiceProduct</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
