unpackaged/main/default/flows/Additional_discount_on_Quoteline_associated_PPT_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_PPT_record_to_the_List</name>
        <label>Add PPT record to the List</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>PPTlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PPTRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_PPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PPT_information</name>
        <label>Assign PPT information</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PPTRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_PPT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPTRecord.Addl_Discount_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PPT_record_to_the_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_PPT_for_Null</name>
        <label>Check Get PPT for Null</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PPT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_over_PPT</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <interviewLabel>Additional discount % on Quoteline associated PPT Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line:Additional discount % on Quoteline associated PPT Records</label>
    <loops>
        <name>Iterate_over_PPT</name>
        <label>Iterate over PPT</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_PPT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PPT_information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PPT_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PPT</name>
        <label>Get PPT</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_PPT_for_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Product_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PPT_Records</name>
        <label>Update PPT Records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>PPTlist</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PPT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Discount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity_Unit_Of_Measure__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PPTlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plant_Product_Transaction__c</objectType>
    </variables>
    <variables>
        <name>PPTRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plant_Product_Transaction__c</objectType>
    </variables>
</Flow>
