unpackaged/main/default/flows/Asset_Builder_Approval_Update_Asset_Builder_Status_in_Account_Plant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Submitted_Update_Asset_Builder_Status_in_Plant_Asset</name>
        <label>Submitted - Update Asset Builder Status in Plant Asset</label>
        <locationX>426</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted_Update_Asset_Builder_Status_in_Account_Plant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_of_respective_account_plant.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Approval_Status</targetReference>
            </connector>
            <label>Submitted - Update Asset Builder Status in Account Plant</label>
        </rules>
        <rules>
            <name>Approved_Update_Asset_Builder_Status_in_Account_Plant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_of_respective_account_plant.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Approval_Status</targetReference>
            </connector>
            <label>Approved - Update Asset Builder Status in Account Plant</label>
        </rules>
        <rules>
            <name>Rejected_Update_Asset_Builder_Status_in_Account_Plant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_of_respective_account_plant.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Approval_Status</targetReference>
            </connector>
            <label>Rejected - Update Asset Builder Status in Account Plant</label>
        </rules>
        <rules>
            <name>Recalled_Update_Asset_Builder_Status_in_Account_Plant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yet to Submit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_record_of_respective_account_plant.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalled_Approval_Status</targetReference>
            </connector>
            <label>Recalled - Update Asset Builder Status in Account Plant</label>
        </rules>
    </decisions>
    <interviewLabel>Asset Builder Approval : Update Asset Builder Status in Account Plant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Builder Approval : Update Asset Builder Status in Account Plant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_record_of_respective_account_plant</name>
        <label>Get record of respective account plant</label>
        <locationX>427</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submitted_Update_Asset_Builder_Status_in_Plant_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Plant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Plant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Approved_Approval_Status</name>
        <label>Approved - Approval Status</label>
        <locationX>61</locationX>
        <locationY>681</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Plant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AB_Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Plant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Recalled_Approval_Status</name>
        <label>Recalled - Approval Status</label>
        <locationX>839</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Plant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AB_Approval_Status__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account_Plant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Rejected_Approval_Status</name>
        <label>Rejected - Approval Status</label>
        <locationX>565</locationX>
        <locationY>832</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Plant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AB_Approval_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Plant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Submitted_Approval_Status</name>
        <label>Submitted - Approval Status</label>
        <locationX>357</locationX>
        <locationY>833</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Plant__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AB_Approval_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Plant__c</object>
    </recordUpdates>
    <start>
        <locationX>279</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_record_of_respective_account_plant</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yet to Submit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset_Builder_Approval__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
