unpackaged/main/default/flows/CA2_Subscriptions_Create_CATs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_CAT_End_Date_as_Subscription_End_DAte</name>
        <label>Set CAT End Date as Subscription End DAte</label>
        <locationX>807</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>varFinalCATEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionID.QS_CA_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Asset_by_Subscription_Parent_Unique_CA_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CAT_End_Date_as_Terminated_Date</name>
        <label>Set CAT End Date as Terminated Date</label>
        <locationX>315</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>varFinalCATEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionID.QS_CA_Effective_Terminated_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Asset_by_Subscription_Parent_Unique_CA_id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Line_Item_is_terminated</name>
        <label>Check if Line Item is terminated</label>
        <locationX>388</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Set_CAT_End_Date_as_Terminated_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terminated_Date_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionID.SBQQ__TerminatedDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CAT_End_Date_as_Subscription_End_DAte</targetReference>
            </connector>
            <label>Terminated Date is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Matching_CA_Parent</name>
        <label>IF Matching CA</label>
        <locationX>849</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Create_regular_CAT_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finds Match</defaultConnectorLabel>
        <rules>
            <name>Match_CA_and_Sub_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentCustomerAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Customer_Asset</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Matching_CA_Parent_Productand_Sub</name>
        <label>IF Matching CA  (Parent Product) and Sub</label>
        <locationX>609</locationX>
        <locationY>65</locationY>
        <defaultConnector>
            <targetReference>Create_regular_CAT_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finds Match</defaultConnectorLabel>
        <rules>
            <name>Match_CA_and_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentCustomerAsset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Asset</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
    </decisions>
    <description>Subscription Creates new Customer Asset Transactions and creates new/links to existing Customer Asset record</description>
    <interviewLabel>CA2 Subscriptions Create CATs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CA2 Subscriptions Create CATs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Customer_Asset</name>
        <label>Create new Customer Asset</label>
        <locationX>1178</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>Create_regular_CAT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>SubscriptionID.SBQQ__Account__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SubscriptionID.SBQQ__Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Account__c</field>
            <value>
                <elementReference>SubscriptionID.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Customer_Asset_Unique_Id__c</field>
            <value>
                <elementReference>SubscriptionID.QS_Customer_Asset_Unique_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Product__c</field>
            <value>
                <elementReference>SubscriptionID.SBQQ__Product__c</elementReference>
            </value>
        </inputAssignments>
        <object>QS_Customer_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create CAT with QS_Customer_Asset__c lookup to newly created CA</description>
        <name>Create_regular_CAT_0</name>
        <label>Create CAT with link to new Customer Asset</label>
        <locationX>1128</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>SubscriptionID.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Annual_Recurring_Revenue__c</field>
            <value>
                <elementReference>SubscriptionID.QS_Annual_Recurring_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Contract__c</field>
            <value>
                <elementReference>SubscriptionID.SBQQ__Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Currently_Active__c</field>
            <value>
                <elementReference>SubscriptionID.QS_Currently_In_Date_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Customer_Asset__c</field>
            <value>
                <elementReference>Create_new_Customer_Asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_End_Date__c</field>
            <value>
                <elementReference>varFinalCATEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Maintain_Line__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Product__c</field>
            <value>
                <elementReference>SubscriptionID.SBQQ__Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Quantity__c</field>
            <value>
                <elementReference>SubscriptionID.QS_CA_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Start_Date__c</field>
            <value>
                <elementReference>SubscriptionID.QS_CA_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Subscription__c</field>
            <value>
                <elementReference>SubscriptionID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>QS_Customer_Asset_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create CAT that links to existing Customer Asset</description>
        <name>Create_regular_CAT_0_0</name>
        <label>Create CAT that links to existing Customer Asset</label>
        <locationX>905</locationX>
        <locationY>415</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>SubscriptionID.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Annual_Recurring_Revenue__c</field>
            <value>
                <elementReference>SubscriptionID.QS_Annual_Recurring_Revenue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Contract__c</field>
            <value>
                <elementReference>SubscriptionID.SBQQ__Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Currently_Active__c</field>
            <value>
                <elementReference>SubscriptionID.QS_Currently_In_Date_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Customer_Asset__c</field>
            <value>
                <elementReference>varCurrentCustomerAsset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_End_Date__c</field>
            <value>
                <elementReference>varFinalCATEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Maintain_Line__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Product__c</field>
            <value>
                <elementReference>SubscriptionID.SBQQ__Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Quantity__c</field>
            <value>
                <elementReference>SubscriptionID.QS_CA_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Start_Date__c</field>
            <value>
                <elementReference>SubscriptionID.QS_CA_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Subscription__c</field>
            <value>
                <elementReference>SubscriptionID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>QS_Customer_Asset_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Finds existing Customer Asset if one exists (based on Unique ID)</description>
        <name>Get_Customer_Asset</name>
        <label>Get Customer Asset</label>
        <locationX>830</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_Matching_CA_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QS_Customer_Asset_Unique_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscriptionID.QS_Customer_Asset_Unique_Id__c</elementReference>
            </value>
        </filters>
        <object>QS_Customer_Asset__c</object>
        <outputReference>varCurrentCustomerAsset</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Finds existing Customer Asset if one exists (based on Unique ID)</description>
        <name>Get_Customer_Asset_by_Subscription_Parent_Unique_CA_id</name>
        <label>Get Customer Asset by Subscription Parent Unique CA id</label>
        <locationX>617</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_Matching_CA_Parent_Productand_Sub</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QS_Customer_Asset_Unique_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscriptionID.QS_Parent_Customer_Asset_Id__c</elementReference>
            </value>
        </filters>
        <object>QS_Customer_Asset__c</object>
        <outputReference>varCurrentCustomerAsset</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Record_from_ID</name>
        <label>Get Subscription Record from ID</label>
        <locationX>398</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Line_Item_is_terminated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subscription_Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <outputReference>SubscriptionID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>QS_Annual_Recurring_Revenue__c</queriedFields>
        <queriedFields>SBQQ__Contract__c</queriedFields>
        <queriedFields>QS_Currently_In_Date_Range__c</queriedFields>
        <queriedFields>QS_CA_End_Date__c</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>QS_CA_Quantity__c</queriedFields>
        <queriedFields>QS_CA_Start_Date__c</queriedFields>
        <queriedFields>SBQQ__Account__c</queriedFields>
        <queriedFields>QS_Parent_Customer_Asset_Id__c</queriedFields>
        <queriedFields>QS_Customer_Asset_Unique_Id__c</queriedFields>
        <queriedFields>SBQQ__TerminatedDate__c</queriedFields>
        <queriedFields>QS_CA_Effective_Terminated_Date__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>28</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_Subscription_Record_from_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Subscription_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Subscription__c</objectType>
    </variables>
    <variables>
        <description>Status to hold the Activation Status of the CAT based on the the Auto - Activate flag</description>
        <name>varCATActivationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCurrentCustomerAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QS_Customer_Asset__c</objectType>
    </variables>
    <variables>
        <name>varCurrentCustomerassetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalCATEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
