unpackaged/main/default/flows/CC_Project_Task_Assigned_To.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assigned_Allocation_User</name>
        <label>Assigned Allocation User</label>
        <locationX>1218</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>VarAssignedUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Allocations.project_cloud__User__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAssignedUser</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAssignedUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Allocations.project_cloud__User__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarAssignedUser</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Users</name>
        <label>Assigned Users</label>
        <locationX>1025</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarAssignedUser</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>CC Project Task : Assigned To {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC Project Task : Assigned To</label>
    <loops>
        <name>Iterate_Allocations</name>
        <label>Iterate Allocations</label>
        <locationX>1033</locationX>
        <locationY>373</locationY>
        <collectionReference>Allocation_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigned_Allocation_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assigned_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Allocation_Records</name>
        <label>Allocation Records</label>
        <locationX>859</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Allocation_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Storing_Allocation_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Allocation_summary_details</name>
        <label>Getting Allocation summary details</label>
        <locationX>526</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Storing_Allocation_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Project_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Allocation_Summary__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Storing_Allocation_Group</name>
        <label>Storing Allocation Group</label>
        <locationX>708</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allocation_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>project_cloud__Allocation_Summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Allocation_summary_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Allocation_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Getting_Allocation_summary_details</targetReference>
        </connector>
        <object>project_cloud__Project_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StoringAllocationSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>project_cloud__Allocation_Summary__c</objectType>
    </variables>
    <variables>
        <name>VarAssignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFinalAllocationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
