unpackaged/main/default/flows/CC_Project_Assign_Team_Role_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Collection_of_All_User</name>
        <label>Collection of All User</label>
        <locationX>773</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserToStakeholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Taking_Single_User</name>
        <label>Taking Single User</label>
        <locationX>1032</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>UserToStakeholder.project_cloud__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_Users.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserToStakeholder.project_cloud__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_Users.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserToStakeholder.project_cloud__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_of_All_User</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CC Project : Assign Team Role Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CC Project : Assign Team Role Members</label>
    <loops>
        <name>Looping_Users</name>
        <label>Looping Users</label>
        <locationX>703</locationX>
        <locationY>382</locationY>
        <collectionReference>Getting_Account_Related_to_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Taking_Single_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_Records_Of_Stakeholder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creating_Records_Of_Stakeholder</name>
        <label>Creating Records Of Stakeholder</label>
        <locationX>924</locationX>
        <locationY>212</locationY>
        <inputReference>CollectionOfUser</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Getting_Account_Related_to_Project</name>
        <label>Getting Account Related to Project</label>
        <locationX>555</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Users</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ccpe_ocp__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Project Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Success Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>427</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Getting_Account_Related_to_Project</targetReference>
        </connector>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>project_cloud__Stakeholder_Contact__c</objectType>
    </variables>
    <variables>
        <name>UserToStakeholder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>project_cloud__Stakeholder_Contact__c</objectType>
    </variables>
</Flow>
