unpackaged/main/default/flows/Demo_Line_Classification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>1242</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>FinalValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Products.Line_Classification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> : </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Accounts.QS_Snowball_Product_Solution__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_same_Value</name>
        <label>Check for same Value</label>
        <locationX>963</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>Assign_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts.QS_Snowball_Product_Solution__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Products.Line_Classification__c</elementReference>
                </rightValue>
            </conditions>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Demo Line Classification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Line Classification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>505</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QS_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>683</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_same_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QS_Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_records</name>
        <label>Update the records</label>
        <locationX>1257</locationX>
        <locationY>466</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QS_Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QS_Snowball_Product_Solution__c</field>
            <value>
                <elementReference>FinalValues</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <object>QS_Customer_Asset__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
