unpackaged/main/default/flows/Equipment_Update_GB_Data_connection_field_to_a_reference_Text_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Gb_data_connection_value</name>
        <label>Assign Gb data connection value</label>
        <locationX>451</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>$Record.GB_Data_connection_Formula_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GB_Data_connection__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_the_Record</name>
        <label>Update the Record</label>
        <locationX>862</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>$Record.GB_Data_connection_Formula_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GB_Data_connection__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>When_a_record_is_created_or_updated</name>
        <label>When a record is created or updated</label>
        <locationX>673</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_a_new_record_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gb_data_connection_value</targetReference>
            </connector>
            <label>When a new record is created</label>
        </rules>
        <rules>
            <name>When_a_record_is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GB_Data_connection__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Record</targetReference>
            </connector>
            <label>When a record is updated</label>
        </rules>
    </decisions>
    <description>This flow was created with reference to Raid-0625 . In this flow we have tried to capture the value of GB Data connection field (multi-select picklist ) on a Reference Text field so that we can add the values in Data Connection Details field.</description>
    <interviewLabel>Equipment : Update GB Data connection field to a reference Text Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equipment : Update GB Data connection field to a reference Text Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>When_a_record_is_created_or_updated</targetReference>
        </connector>
        <object>Equipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
