unpackaged/main/default/flows/MSA_Contract_Update_fields_in_CRM_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_the_SAT_required_value_to_CRM_field</name>
        <label>Assign the SAT required value to CRM field</label>
        <locationX>664</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>$Record.SAT_Approval_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_whether_the_Conditions_is_true_or_Not</name>
        <label>Check whether the Conditions is true or Not</label>
        <locationX>804</locationX>
        <locationY>132</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_MSA_Record_found_or_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_records_for_the_MSA_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_SAT_required_value_to_CRM_field</targetReference>
            </connector>
            <label>Correct MSA Record found or not</label>
        </rules>
    </decisions>
    <description>As per the REQ-2894</description>
    <interviewLabel>MSA Contract : Update fields in CRM Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSA Contract : Update fields in CRM Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_records_for_the_MSA_Contract</name>
        <label>Get records for the MSA Contract</label>
        <locationX>558</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_whether_the_Conditions_is_true_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SAT_Approval_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>61</locationX>
        <locationY>30</locationY>
        <connector>
            <targetReference>Get_records_for_the_MSA_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SAT_Approval_Required__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>CRM_Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
