unpackaged/main/default/flows/Opp_Assign_bill_to_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Bill_to_Account</name>
        <label>Assign Bill to Account</label>
        <locationX>806</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Bill_To_Contact</name>
        <label>Assign Bill To Contact</label>
        <locationX>569</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>If_both_changes</name>
        <label>If both changes</label>
        <locationX>1070</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_Oppty_is_Product_Services_and_Service_Only</name>
        <label>Check If Oppty is Product &amp; Services and Service Only</label>
        <locationX>795</locationX>
        <locationY>102</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rec_type_is_equals_Product_Services_and_Service_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Bill_to_account_contact_change</targetReference>
            </connector>
            <label>If rec type is equals Product &amp; Services and Service Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Bill_to_account_contact_change</name>
        <label>Bill to Account and Contact</label>
        <locationX>791</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Bill_account_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bill_to_Account</targetReference>
            </connector>
            <label>If Bill to Account change</label>
        </rules>
        <rules>
            <name>If_Bill_to_Contact_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bill_To_Contact</targetReference>
            </connector>
            <label>If Bill to Contact change</label>
        </rules>
        <rules>
            <name>If_both_change</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_To_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_both_changes</targetReference>
            </connector>
            <label>If both change</label>
        </rules>
    </decisions>
    <description>22/9/22 :- Decision is added for Product &amp; Services and Service Only Oppty 
              :- For Amend &amp; Renewal ( Flow - Opportunity : Update Record Type as Amendment/Renewal )</description>
    <interviewLabel>Opp: Assign bill to account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp: Assign bill to account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>121</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Check_If_Oppty_is_Product_Services_and_Service_Only</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
