unpackaged/main/default/flows/Opportunity_Assign_Account_Theatre_to_Opportunity_Territory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_value_in_opp_territory</name>
        <label>Assign value in account theatre</label>
        <locationX>746</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>take_opportunity_record_in_loop.Territory2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_territory_id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_in_Opportunity_territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_in_Opportunity_territory</name>
        <label>Assign value in Opportunity territory</label>
        <locationX>869</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>getTerritory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>take_opportunity_record_in_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>take_opportunity_record_in_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_territory_id_true_or_false</name>
        <label>check territory id true or false</label>
        <locationX>409</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_territory_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_territory_id.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_record_from_opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>take_opportunity_record_in_loop</targetReference>
            </connector>
            <label>if territory is not null</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity: Assign Account Theatre to Opportunity Territory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Assign Account Theatre to Opportunity Territory V2</label>
    <loops>
        <name>take_opportunity_record_in_loop</name>
        <label>take opportunity record in loop</label>
        <locationX>613</locationX>
        <locationY>372</locationY>
        <collectionReference>get_record_from_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_in_opp_territory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_opportunity_territory_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_record_from_opportunity</name>
        <label>get record from opportunity</label>
        <locationX>214</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_territory_id_true_or_false</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_territory_id</name>
        <label>get territory id</label>
        <locationX>177</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_record_from_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Theater__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_opportunity_territory_field</name>
        <label>update opportunity territory field</label>
        <locationX>613</locationX>
        <locationY>560</locationY>
        <inputReference>getTerritory</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>get_territory_id</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
