unpackaged/main/default/flows/Opportunity_Bill_to_account_Contact_copy_from_opportunity_to_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Update_as_per_Quote_id</name>
        <label>Update as per Quote id</label>
        <locationX>483</locationX>
        <locationY>530</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_ID_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_record_id_of_order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record_for_Order</targetReference>
            </connector>
            <label>If ID is not Null</label>
        </rules>
    </decisions>
    <description>REQ:3030</description>
    <interviewLabel>Oppurnity: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Bill to account &amp; Contact copy from opportunity to order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_record_id_of_order</name>
        <label>Get record id of order</label>
        <locationX>501</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_as_per_Quote_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_record_for_Order</name>
        <label>Update record for Order</label>
        <locationX>525</locationX>
        <locationY>738</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record_id_of_order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>Get_record_id_of_order.Opportunity.Bill_To_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>Get_record_id_of_order.Opportunity.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_record_id_of_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__PrimaryQuote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
