unpackaged/main/default/flows/Opportunity_Copy_opportunity_data_to_PPT_when_click_on_Cascade_bill_to_account_b.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection_PPT</name>
        <label>Assign to Collection PPT</label>
        <locationX>494</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>VarPPTCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PPT_Iterate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PPT_Iterate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentPPT</name>
        <label>AssignmentPPT</label>
        <locationX>671</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>PPT_Iterate.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Id.Bill_To_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPT_Iterate.Bill_To_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Id.Bill_To_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection_PPT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Primary_Quote_Found</name>
        <label>Primary Quote Found</label>
        <locationX>408</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Id.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PPT_Records1</targetReference>
            </connector>
            <label>Primary Quote Found</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity: Auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Copy opportunity data to PPT when click on Cascade bill to account button.</label>
    <loops>
        <name>PPT_Iterate</name>
        <label>PPT Iterate</label>
        <locationX>229</locationX>
        <locationY>423</locationY>
        <collectionReference>Get_PPT_Records1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentPPT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PPTCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PPT_Records1</name>
        <label>Get PPT Records</label>
        <locationX>172</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PPT_Iterate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Id.SBQQ__PrimaryQuote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Product_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Id</name>
        <label>Opportunity Id</label>
        <locationX>575</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Quote_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PPTCollection</name>
        <label>Update PPTCollection</label>
        <locationX>229</locationX>
        <locationY>651</locationY>
        <inputReference>VarPPTCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opportunity_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the ID number of the opportunity that triggered the flow</description>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlantProductTransactionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plant_Product_Transaction__c</objectType>
    </variables>
    <variables>
        <name>pptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quote_Line_Item_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>VarPPTCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Plant_Product_Transaction__c</objectType>
    </variables>
</Flow>
