unpackaged/main/default/flows/Opportunity_Update_Record_Type_as_Amendment_Renewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Bill_To_Account_from_Account_Id</name>
        <label>Update Bill To Account from Account Id</label>
        <locationX>804</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Bill_To_Contact_and_Bill_To_Account</name>
        <label>Update Bill To Contact and Bill To Account</label>
        <locationX>946</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Bill_To_Contact_from_Primary_Contact</name>
        <label>Update Bill To Contact from Primary Contact</label>
        <locationX>666</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>$Record.Bill_To_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_Opportunity_is_Blank_on_Contract</name>
        <label>Check if Opportunity is Blank on Contract</label>
        <locationX>1103</locationX>
        <locationY>785</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Oppty_is_not_Blank_on_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__AmendedContract__r.SBQQ__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Primary_Contact</targetReference>
            </connector>
            <label>If Oppty is not Blank on Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_is_Blank_on_Contract_for_Renewal</name>
        <label>Check if Opportunity is Blank on Contract for Renewal</label>
        <locationX>1344</locationX>
        <locationY>821</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Oppty_is_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedContract__r.SBQQ__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Primary_Contact_for_Renewal</targetReference>
            </connector>
            <label>If Oppty is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_oppty_is_amend_or_renew</name>
        <label>check if oppty is amend or renew</label>
        <locationX>1164</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Amended_contract_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__AmendedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Id_of_Amendment</targetReference>
            </connector>
            <label>If Amended contract is not null</label>
        </rules>
        <rules>
            <name>If_Renewal_contract_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Id_of_Renewal</targetReference>
            </connector>
            <label>If Renewal contract is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_and_update_decision</name>
        <label>Create and update decision</label>
        <locationX>833</locationX>
        <locationY>93</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_if_Opportunity_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_if_oppty_is_amend_or_renew</targetReference>
            </connector>
            <label>check if Opportunity is created</label>
        </rules>
        <rules>
            <name>If_primary_Contact_is_updated_for_amend</name>
            <conditionLogic>1 AND 2 AND 4 AND (3 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bill_To_Contact_from_Primary_Contact</targetReference>
            </connector>
            <label>If primary Contact is updated for amend</label>
        </rules>
        <rules>
            <name>If_Account_is_updated_for_amend</name>
            <conditionLogic>1 AND 2 AND 4 AND (3 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bill_To_Account_from_Account_Id</targetReference>
            </connector>
            <label>If Account is updated for amend</label>
        </rules>
        <rules>
            <name>If_both_updates_for_amend</name>
            <conditionLogic>1 AND 4 AND 3 AND ( 2 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bill_To_Contact_and_Bill_To_Account</targetReference>
            </connector>
            <label>If both updates for amend</label>
        </rules>
    </decisions>
    <formulas>
        <name>varAmendOpptyNAme</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &#39; Amendment &#39; + TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>varRenewOpptyName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &#39; Renewal &#39; + TEXT({!$Record.CloseDate})</expression>
    </formulas>
    <interviewLabel>Opportunity : Update Record Type as Amendment/Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity : Update Record Type as Amendment/Renewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Id_of_Amendment</name>
        <label>Get Id of Amendment</label>
        <locationX>1095</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Id_of_Renewal</name>
        <label>Get Id of Renewal</label>
        <locationX>1335</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record_Type_of_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_Type_Id</name>
        <label>Update Record Type Id</label>
        <locationX>1106</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>Check_if_Opportunity_is_Blank_on_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__AmendedContract__r.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__AmendedContract__r.Bill_To_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varAmendOpptyNAme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Id_of_Amendment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4 - Evaluation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record_Type_of_Renewal</name>
        <label>Update Record Type of Renewal</label>
        <locationX>1329</locationX>
        <locationY>639</locationY>
        <connector>
            <targetReference>Check_if_Opportunity_is_Blank_on_Contract_for_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__RenewedContract__r.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__RenewedContract__r.Bill_To_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varRenewOpptyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QS_Order_Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Id_of_Renewal.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>4 - Evaluation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Primary_Contact</name>
        <label>Update the Primary Contact</label>
        <locationX>1124</locationX>
        <locationY>969</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__AmendedContract__r.SBQQ__Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Primary_Contact_for_Renewal</name>
        <label>Update the Primary Contact for Renewal</label>
        <locationX>1343</locationX>
        <locationY>991</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__RenewedContract__r.SBQQ__Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>263</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_and_update_decision</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
