unpackaged/main/default/flows/Order_Product_Update_PPT_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_PPT</name>
        <label>Add to PPT</label>
        <locationX>531</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>PPTtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Plant_Product_Transaction_Record_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plant_Product_Transaction_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Order Item</label>
        <locationX>531</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PPT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Plant_Product_Transaction_Records_Found</name>
        <label>Plant Product Transaction Records Found</label>
        <locationX>575</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plant_Product_Transaction_Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plant_Product_Transactions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plant_Product_Transaction_Record_Update</targetReference>
            </connector>
            <label>Plant Product Transaction Record found?</label>
        </rules>
    </decisions>
    <description>To Update PPT with Order</description>
    <interviewLabel>Order Product : Update PPT Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product : Update PPT Record and Order</label>
    <loops>
        <name>Plant_Product_Transaction_Record_Update</name>
        <label>Plant Product Transaction Record Update</label>
        <locationX>443</locationX>
        <locationY>743</locationY>
        <collectionReference>Get_Plant_Product_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PPT_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_from_Order_Product</name>
        <label>Get Order from Order Product</label>
        <locationX>568</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_Order_and_Check_Contracted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plant_Product_Transactions</name>
        <label>Get Plant Product Transactions</label>
        <locationX>333</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plant_Product_Transaction_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Line.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Product_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>746</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_from_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order_and_Check_Contracted</name>
        <label>Activate Order and Check Contracted</label>
        <locationX>331</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>Get_Plant_Product_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_from_Order_Product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PPT_Records</name>
        <label>Update PPT Records</label>
        <locationX>443</locationX>
        <locationY>1199</locationY>
        <inputReference>PPTtoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PPTtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plant_Product_Transaction__c</objectType>
    </variables>
</Flow>
