unpackaged/main/default/flows/Order_Product_Update_Charge_and_Billing_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Billing_Type_SAAS</name>
        <label>Billing Type SAAS</label>
        <locationX>373</locationX>
        <locationY>1253</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MSA_Contract.Invoicing_Terms_SaaS__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Billing_Type_Services</name>
        <label>Billing Type Services</label>
        <locationX>724</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MSA_Contract.Invoicing_Terms_Services__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Charge_Type_One_Time</name>
        <label>Charge Type One-Time</label>
        <locationX>868</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Charge_Type_Recurring</name>
        <label>Charge Type Recurring</label>
        <locationX>277</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Billing_Type</name>
        <label>Update Billing Type</label>
        <locationX>577</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Software_or_Hardware</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Type_SAAS</targetReference>
            </connector>
            <label>Software or Hardware</label>
        </rules>
        <rules>
            <name>Professional_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Type_Services</targetReference>
            </connector>
            <label>Professional Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Charge_Type</name>
        <label>Update Charge Type</label>
        <locationX>578</locationX>
        <locationY>938</locationY>
        <defaultConnector>
            <targetReference>Update_Billing_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SaaS_OR_Recurring</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaaS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Charge_Type_Recurring</targetReference>
            </connector>
            <label>SaaS OR Recurring</label>
        </rules>
        <rules>
            <name>Perpetual_License_OR_One_Time</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual License</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Charge_Type_One_Time</targetReference>
            </connector>
            <label>Perpetual License OR One-Time</label>
        </rules>
    </decisions>
    <description>REQ 3106</description>
    <interviewLabel>Order Product : Update Charge and Billing Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product : Update Charge and Billing Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>575</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MSA_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MSA_Contract</name>
        <label>Get MSA Contract</label>
        <locationX>575</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Uses_MSA_of__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MSA_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>575</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>583</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Charge_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
