unpackaged/main/default/flows/Order_Product_Update_PPT_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_PPT</name>
        <label>Add to PPT</label>
        <locationX>666</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>PPTtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Plant_Product_Transaction_Record_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plant_Product_Transaction_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Order Item</label>
        <locationX>930</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contracted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Contracted</name>
        <label>Update Status to Contracted</label>
        <locationX>402</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contracted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Contracted_but_no_Value</name>
        <label>Update Status to Contracted but no Value</label>
        <locationX>666</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Decommissioned_0</name>
        <label>Update Status to Decommissioned</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decommissioned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PPT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Amendment_and_Renewal_Status</name>
        <label>Check Amendment and Renewal Status</label>
        <locationX>666</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_PPT_Status_for_Amendment_or_Renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Plant_Product_Transaction_Record_Update.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment_Quoted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Plant_Product_Transaction_Record_Update.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal Quoted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Renewal_or_Amendment_Action</targetReference>
            </connector>
            <label>Check PPT Status for Amendment or Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_or_Amendment_Action</name>
        <label>Check Renewal or Amendment Action</label>
        <locationX>402</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Update_Status_to_Contracted_but_no_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Remove_Renewal_Amend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Plant_Product_Transaction_Record_Update.Renewal_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Removed Plant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Plant_Product_Transaction_Record_Update.Amendment_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Removed Plant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Decommissioned_0</targetReference>
            </connector>
            <label>Check Remove Renewal/Amend</label>
        </rules>
        <rules>
            <name>Check_Add_Renewal_Amend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Plant_Product_Transaction_Record_Update.Renewal_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added Plant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Plant_Product_Transaction_Record_Update.Amendment_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Added Plant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Contracted</targetReference>
            </connector>
            <label>Check Add Renewal/Amend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plant_Product_Transaction_Records_Found</name>
        <label>Plant Product Transaction Records Found</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plant_Product_Transaction_Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plant_Product_Transactions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plant_Product_Transaction_Record_Update</targetReference>
            </connector>
            <label>Plant Product Transaction Record found?</label>
        </rules>
    </decisions>
    <description>To Update PPT with Order Activation</description>
    <interviewLabel>Order Product : Update PPT Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product : Update PPT Record and Order</label>
    <loops>
        <name>Plant_Product_Transaction_Record_Update</name>
        <label>Plant Product Transaction Record Update</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Plant_Product_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Amendment_and_Renewal_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PPT_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_from_Order_Product</name>
        <label>Get Order from Order Product</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_Order_and_Set_Contracted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Plant_Product_Transactions</name>
        <label>Get Plant Product Transactions</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plant_Product_Transaction_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Line.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Product_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_from_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order_and_Set_Contracted</name>
        <label>Activate Order and Set Contracted</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Plant_Product_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_from_Order_Product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PPT_Records</name>
        <label>Update PPT Records</label>
        <locationX>50</locationX>
        <locationY>1823</locationY>
        <inputReference>PPTtoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PPTtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plant_Product_Transaction__c</objectType>
    </variables>
</Flow>
