unpackaged/main/default/flows/PPT_Calculate_the_net_Price_Associated_to_Product_Category.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Professional_Services_PPT</name>
        <label>Assign Professional Services PPT</label>
        <locationX>921</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>varTotalImplementationFeesofallPPT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Professional_Services_PPT.Net_Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Professional_Services_PPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Software_ARR</name>
        <label>Assign Software ARR</label>
        <locationX>645</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>varTotalARRofallPPT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Software_PPT.Net_Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Software_PPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_ARR_field</name>
        <label>Assign Value to ARR field</label>
        <locationX>476</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>AddNetPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTotalARRofallPPT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNetPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Net_Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_values_to_ARR_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Installation_Fee</name>
        <label>Assign Value to Installation Fee</label>
        <locationX>785</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>AddNetPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTotalImplementationFeesofallPPT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNetPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Net_Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_values_to_Implementation_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigning_Values_to_respective_Fields</name>
        <label>Assigning Values to respective Fields</label>
        <locationX>624</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigning_value_to_Implementation_Fee</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Net_Total_Price__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Net_Total_Price__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Project_Added__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_Professional_Services_PPT</targetReference>
            </connector>
            <label>Assigning value to Implementation Fee</label>
        </rules>
        <rules>
            <name>Assigning_value_to_ARR</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Net_Total_Price__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Net_Total_Price__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Project_Added__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_Software_PPT</targetReference>
            </connector>
            <label>Assigning value to ARR</label>
        </rules>
    </decisions>
    <description>As Part of REQ-2780</description>
    <interviewLabel>PPT : Calculate the net Price Associated to Product Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PPT : Calculate the net Price Associated to Product Category</label>
    <loops>
        <name>Iterate_Professional_Services_PPT</name>
        <label>Iterate Professional Services PPT</label>
        <locationX>781</locationX>
        <locationY>235</locationY>
        <collectionReference>Get_related_Professional_Services_PPT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Professional_Services_PPT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Value_to_Installation_Fee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Software_PPT</name>
        <label>Iterate Software PPT</label>
        <locationX>483</locationX>
        <locationY>270</locationY>
        <collectionReference>Get_related_Software_PPT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Software_ARR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Value_to_ARR_field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Professional_Services_PPT</name>
        <label>Get related Professional Services PPT</label>
        <locationX>897</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Professional_Services_PPT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Product_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Software_PPT</name>
        <label>Get related Software PPT</label>
        <locationX>641</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Software_PPT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Product_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_values_to_ARR_Field</name>
        <label>Update the values to ARR Field</label>
        <locationX>309</locationX>
        <locationY>488</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>AddNetPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_values_to_Implementation_Field</name>
        <label>Update the values to Implementation Field</label>
        <locationX>982</locationX>
        <locationY>486</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Installation_Fee__c</field>
            <value>
                <elementReference>AddNetPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Family__c</field>
            <value>
                <elementReference>$Record.Product_Family__c</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>157</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Assigning_Values_to_respective_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Net_Total_Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Plant_Product_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddNetPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalARRofallPPT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalImplementationFeesofallPPT</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
