unpackaged/main/default/flows/PPT_Calculate_the_net_Price_Associated_to_Product_Category.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Value_to_ARR_field</name>
        <label>Assign Value to ARR field</label>
        <locationX>531</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>AddNetPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Project_details_for_ARR.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNetPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Net_Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_values_to_ARR_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Installation_Fee</name>
        <label>Assign Value to Installation Fee</label>
        <locationX>841</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>AddNetPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Project_Detail.Installation_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddNetPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Net_Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_values_to_Implementation_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assigning_Values_to_respective_Fields</name>
        <label>Assigning Values to respective Fields</label>
        <locationX>522</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigning_value_to_Implementation_Fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Detail</targetReference>
            </connector>
            <label>Assigning value to Implementation Fee</label>
        </rules>
        <rules>
            <name>Assigning_value_to_ARR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_details_for_ARR</targetReference>
            </connector>
            <label>Assigning value to ARR</label>
        </rules>
    </decisions>
    <description>As Part of REQ-2780</description>
    <interviewLabel>PPT : Calculate the net Price Associated to Product Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PPT : Calculate the net Price Associated to Product Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Detail</name>
        <label>Get Project Detail</label>
        <locationX>841</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value_to_Installation_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_details_for_ARR</name>
        <label>Get Project details for ARR</label>
        <locationX>532</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value_to_ARR_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_values_to_ARR_Field</name>
        <label>Update the values to ARR Field</label>
        <locationX>295</locationX>
        <locationY>425</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ARR__c</field>
            <value>
                <elementReference>AddNetPrice</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_values_to_Implementation_Field</name>
        <label>Update the values to Implementation Field</label>
        <locationX>841</locationX>
        <locationY>432</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Installation_Fee__c</field>
            <value>
                <elementReference>AddNetPrice</elementReference>
            </value>
        </inputAssignments>
        <object>project_cloud__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>55</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Assigning_Values_to_respective_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Net_Total_Price__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Plant_Product_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddNetPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
