unpackaged/main/default/flows/PPT_Update_Prorate_Multiplier.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_Prorate_Difference</name>
        <label>Update Prorate Difference</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.PPT_Prorate_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateDiff</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Prorate_No_Diff</name>
        <label>Update Prorate No Diff</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.PPT_Prorate_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoDiff</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Prorate_Quote_Line</name>
        <label>Update Prorate Quote Line</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.PPT_Prorate_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line.SBQQ__ProrateMultiplier__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_PPT</name>
        <label>Check PPT</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Quote_and_Date_Diff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prorate_Difference</targetReference>
            </connector>
            <label>Check Quote and Date Diff</label>
        </rules>
        <rules>
            <name>Check_Quote_and_No_Diff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prorate_No_Diff</targetReference>
            </connector>
            <label>Check Quote and Same</label>
        </rules>
    </decisions>
    <formulas>
        <name>DateDiff</name>
        <dataType>Number</dataType>
        <expression>(((YEAR({!Get_Subscription.SBQQ__EndDate__c}) - YEAR({!Get_Subscription.SBQQ__StartDate__c})) * 12) +
((MONTH({!Get_Subscription.SBQQ__EndDate__c}) - MONTH({!Get_Subscription.SBQQ__StartDate__c}))+1)) / 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EndDate</name>
        <dataType>Number</dataType>
        <expression>MONTH({!Get_Subscription.SBQQ__EndDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NoDiff</name>
        <dataType>Number</dataType>
        <expression>(((YEAR({!Get_Subscription.SBQQ__EndDate__c}) - YEAR({!Get_Subscription.SBQQ__StartDate__c})) * 12) +
(MONTH({!Get_Subscription.SBQQ__EndDate__c}) - MONTH({!Get_Subscription.SBQQ__StartDate__c}))) / 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Number</dataType>
        <expression>MONTH({!Get_Subscription.SBQQ__StartDate__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PPT : Update Prorate Multiplier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PPT : Update Prorate Multiplier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Prorate_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote_Line__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription</name>
        <label>Get Subscription</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PPT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Subscription</targetReference>
        </connector>
        <object>Plant_Product_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
