unpackaged/main/default/flows/Project_Task_Calculate_EV_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Earned_Value_Decision</name>
        <label>Earned Value Decision</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Task_Status_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Estimated_Hours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.project_cloud__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.project_cloud__project_status_completed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Success_Status_EV_Hours</targetReference>
            </connector>
            <label>When Task Status Complete</label>
        </rules>
        <rules>
            <name>When_Task_Status_Not_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.project_cloud__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>$Label.project_cloud__project_status_completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Null_To_EV_Hours</targetReference>
            </connector>
            <label>When Task Status Not Complete</label>
        </rules>
    </decisions>
    <description>Calculate EV Hours when task status is complete.</description>
    <interviewLabel>Project Task - Calculate EV Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Task - Calculate EV Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Null_To_EV_Hours</name>
        <label>Set Null To EV Hours</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>EV_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Success_Status_EV_Hours</name>
        <label>Update Success Status EV Hours</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>EV_Hours__c</field>
            <value>
                <elementReference>$Record.project_cloud__Estimated_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Earned_Value_Decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>project_cloud__Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>project_cloud__Estimated_Hours__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
