unpackaged/main/default/flows/Project_Create_CRM_project_when_a_project_record_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_CRM_Records_to_Collection</name>
        <label>Assign CRM Records to Collection</label>
        <locationX>50</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>varCRMCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCRMRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Associated_CRM_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Record_Values_to_CRM_Records</name>
        <label>Assign Project Record Values to CRM Records</label>
        <locationX>71</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>varCRMRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Associated_CRM_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Completion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Completed_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Implementation_start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Implementation_start_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Status_comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status_Comment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Wrike_Legacy_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Wrike_Legacy_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.PF_Jira_Legacy_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PF_Jira_Legacy_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.GB_Jira_Legacy_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GB_Jira_Legacy_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.External_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.External_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Internal_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Internal_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Project_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Ticket_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ticket_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.External_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.External_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Jira_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Jira_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Project_Start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Start_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Customer_s_Integrator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_s_Integrator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Trial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Trial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Customer_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Implementation_start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Implementation_start_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Project_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Internal_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Internal_Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Entered_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Worked_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Contracted_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contracted_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.LastModifiedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Related_Projects__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Projects__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Estimated_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Estimated_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Planned_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Planned_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Earned_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Earned_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Cost_Performance_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cost_Performance_Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Variance_at_Completion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Variance_at_Completion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Schedule_Performance_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Schedule_Performance_Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Schedule_Variance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Schedule_Variance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Estimate_at_Completion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Estimate_at_Completion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Estimate_to_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Estimate_to_Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.To_Complete_Performance_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.To_Complete_Performance_Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Cost_Variance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cost_Variance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Labels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Labels__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Installation_Commencement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Installation_Commencement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Customer_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Project_visibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Visibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Program_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Completion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Completed_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Calculated_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Calculated_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Calculated_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Calculated_End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.CRM_Reference_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Project_Health__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Health__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCRMRecord.Health_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.project_cloud__Health_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CRM_Records_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>When_a_Project_is_Created</name>
        <label>When a Project is Created</label>
        <locationX>635</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>Get_Associated_CRM_Projects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CRM_Record</targetReference>
            </connector>
            <label>Project is created</label>
        </rules>
    </decisions>
    <description>As per the REQ- 2139</description>
    <interviewLabel>Project : Create CRM project when a project record is Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project : Create CRM project when a project record is Created</label>
    <loops>
        <name>Iterate_Associated_CRM_Records</name>
        <label>Iterate Associated CRM Records</label>
        <locationX>294</locationX>
        <locationY>358</locationY>
        <collectionReference>Get_Associated_CRM_Projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Project_Record_Values_to_CRM_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Associated_CRM_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CRM_Record</name>
        <label>Create CRM Record</label>
        <locationX>917</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Account_Plant_relationship_Name__c</field>
            <value>
                <elementReference>$Record.Account_Plant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.ccpe_ocp__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Reference_Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Status__c</field>
            <value>
                <elementReference>$Record.External_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Name__c</field>
            <value>
                <elementReference>$Record.Program_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <elementReference>$Record.project_cloud__Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>CRM_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_CRM_Projects</name>
        <label>Get Associated CRM Projects</label>
        <locationX>433</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Associated_CRM_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Reference_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CRM_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Associated_CRM_Records</name>
        <label>Update Associated CRM Records</label>
        <locationX>312</locationX>
        <locationY>564</locationY>
        <inputReference>varCRMCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>544</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>When_a_Project_is_Created</targetReference>
        </connector>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCRMCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_Project__c</objectType>
    </variables>
    <variables>
        <name>varCRMRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_Project__c</objectType>
    </variables>
</Flow>
