unpackaged/main/default/flows/Project_Update_Operational_Status_of_Plant_to_Energy_Export_when_the_project_Sta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Get_the_plants_record_or_not</name>
        <label>Get the plants record or not</label>
        <locationX>716</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_the_proper_Plants_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_records_from_Plant.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Operational_Status_of_Plant</targetReference>
            </connector>
            <label>Get the proper Plants records</label>
        </rules>
    </decisions>
    <description>As per business suggestion When the Project status is completed and Plant Operational Status is other than Operation (Energy Export) then update it to Operation (Energy Export) .</description>
    <interviewLabel>Project : Update Operational Status of Plant to Energy Export when the project Status is Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project : Update Operational Status of Plant to Energy Export when the project Status is Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_records_from_Plant</name>
        <label>Get records from Plant</label>
        <locationX>457</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_plants_record_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Plant__r.Plant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Plant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Operational_Status_of_Plant</name>
        <label>Update Operational Status of Plant</label>
        <locationX>460</locationX>
        <locationY>595</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_records_from_Plant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Operational_Status__c</field>
            <value>
                <stringValue>Operation (Energy Export)</stringValue>
            </value>
        </inputAssignments>
        <object>Plant__c</object>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_records_from_Plant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
