unpackaged/main/default/flows/Project_UpdateProgramComplitionStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignCounterVar</name>
        <label>assignCounterVar</label>
        <locationX>659</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>recordCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_program_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigned_Completion_Status</name>
        <label>Assigned Completion Status</label>
        <locationX>95</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>varTotalCompletionStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_program_name.project_cloud__Completed_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varRecordCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigned_completion_status_for_current_project</name>
        <label>assigned completion status for current project</label>
        <locationX>612</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>varTotalCompletionStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.project_cloud__Completed_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForColpletionStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varRecordCounter</name>
        <label>varRecordCounter</label>
        <locationX>301</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>recordCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_program_name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCurrentProjectId</name>
        <label>checkCurrentProjectId</label>
        <locationX>238</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>get_program_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>currentRecordNotMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_program_name.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Completion_Status</targetReference>
            </connector>
            <label>currentRecordNotMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForColpletionStatus</name>
        <label>checkForColpletionStatus</label>
        <locationX>832</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkNotNullCompletionStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>averageTotalCompletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateProgramCompletion</targetReference>
            </connector>
            <label>checkNotNullCompletionStatus</label>
        </rules>
    </decisions>
    <formulas>
        <name>averageTotalCompletion</name>
        <dataType>Number</dataType>
        <expression>{!varTotalCompletionStatus}/{!recordCounter}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Project:UpdateProgramComplitionStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project:UpdateProgramComplitionStatus V3</label>
    <loops>
        <name>get_program_name</name>
        <label>get program name</label>
        <locationX>456</locationX>
        <locationY>376</locationY>
        <collectionReference>Get_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkCurrentProjectId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assigned_completion_status_for_current_project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>864</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCounterVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>project_cloud__Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>project_cloud__Completed_Percent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateProgramCompletion</name>
        <label>updateProgramCompletion</label>
        <locationX>1060</locationX>
        <locationY>570</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completion__c</field>
            <value>
                <elementReference>averageTotalCompletion</elementReference>
            </value>
        </inputAssignments>
        <object>Program__c</object>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>project_cloud__Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalCompletionStatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
