unpackaged/main/default/flows/Quote_Update_Billing_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1153</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>QuoteToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bill_to_Address</name>
        <label>Assign Bill to Address</label>
        <locationX>1107</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>Loop.SBQQ__BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Account__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.SBQQ__BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Account__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.SBQQ__BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Account__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.SBQQ__BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Account__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop.SBQQ__BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bill_To_Account__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Quote: Update Billing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote: Update Billing Address</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>782</locationX>
        <locationY>362</locationY>
        <collectionReference>Get_all_Quotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Bill_to_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Quotes</name>
        <label>Get all Quotes</label>
        <locationX>566</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_Quotes</name>
        <label>Update all Quotes</label>
        <locationX>825</locationX>
        <locationY>627</locationY>
        <inputReference>QuoteToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_all_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bill_To_Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
