unpackaged/main/default/flows/RAID_auto_assign_crm_when_project_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>554</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_record_from_crm.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_project_id_in_crm_is_null_or_not</name>
        <label>Check project id in crm is null or not</label>
        <locationX>330</locationX>
        <locationY>411</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRM_related_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_record_from_crm.Related_Projects__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment</targetReference>
            </connector>
            <label>CRM related Project</label>
        </rules>
    </decisions>
    <interviewLabel>RAID: auto assign crm when project updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RAID: auto assign crm when project updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_record_from_crm</name>
        <label>get record from crm</label>
        <locationX>192</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_project_id_in_crm_is_null_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Projects__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cloud_Coach_Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CRM_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>204</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_record_from_crm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cloud_Coach_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RAID__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CrmProjectRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CRM_Project__c</objectType>
    </variables>
    <variables>
        <name>GetProject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>project_cloud__Project__c</objectType>
    </variables>
</Flow>
