unpackaged/main/default/flows/RAID_Auto_Populating_Account_and_Account_Plant_based_on_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Default_Account_and_Account_Plant</name>
        <label>Set Default Account and Account-Plant</label>
        <locationX>856</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_the_field_of_Account_Account_plant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_and_Account_Plant1</name>
        <label>Update Account and Account-Plant</label>
        <locationX>1393</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cloud_Coach_Project__r.ccpe_ocp__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Plant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cloud_Coach_Project__r.Account_Plant__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Account_Only</name>
        <label>Update Account Only</label>
        <locationX>1402</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Cloud_Coach_Project__r.ccpe_ocp__Account__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Checking_the_field_of_Account_Account_plant</name>
        <label>Checking the field of Account &amp; Account-plant</label>
        <locationX>1117</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Account_Plant_Checking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloud_Coach_Project__r.ccpe_ocp__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Coach_Project__r.Account_Plant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_and_Account_Plant1</targetReference>
            </connector>
            <label>Account &amp; Account-Plant Checking</label>
        </rules>
        <rules>
            <name>If_Only_Account_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cloud_Coach_Project__r.ccpe_ocp__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloud_Coach_Project__r.Account_Plant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Only</targetReference>
            </connector>
            <label>If Only Account is Present</label>
        </rules>
    </decisions>
    <description>Auto Populating Account and Account-Plant based on Project</description>
    <interviewLabel>RAID : Auto Populating Account and Account-Plant based on Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RAID : Auto Populating Account and Account-Plant based on Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Getting_Project_Record</name>
        <label>Getting Project Record</label>
        <locationX>1312</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cloud_Coach_Project__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1576</locationX>
        <locationY>27</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cloud_Coach_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Project_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Getting_Project_Record.ccpe_ocp__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_And_Account_Plant</name>
        <label>Update Account And Account Plant</label>
        <locationX>1434</locationX>
        <locationY>27</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cloud_Coach_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Project_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Plant__c</field>
            <value>
                <elementReference>Getting_Project_Record.Account_Plant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Getting_Project_Record.ccpe_ocp__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>519</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Set_Default_Account_and_Account_Plant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cloud_Coach_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RAID__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
