unpackaged/main/default/flows/RFI_Item_RFI_Item_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>RFI_Item_Updation</name>
        <label>RFI Item Updation</label>
        <locationX>469</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incorrect_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incorrect_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Missing_Incomplete_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_detail</targetReference>
            </connector>
            <label>Incorrect Type</label>
        </rules>
        <rules>
            <name>Missing_Incomplete_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incorrect_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Missing_Incomplete_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_detail_0</targetReference>
            </connector>
            <label>Missing/Incomplete Type</label>
        </rules>
        <rules>
            <name>check_RFI_Item_Status_as_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RAID__r.Assigned_Customer_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Due_Date</targetReference>
            </connector>
            <label>check RFI Item Status as Requested</label>
        </rules>
        <rules>
            <name>check_RFI_Item_Status_as_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_RFI_detail_owner_to_IE_Owner</targetReference>
            </connector>
            <label>check RFI Item Status as Submitted</label>
        </rules>
        <rules>
            <name>Check_RFI_Item_Status_as_Needs_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Detail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RAID__r.Assigned_Customer_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Due_Date3</targetReference>
            </connector>
            <label>Check RFI Item Status as Needs Detail</label>
        </rules>
        <rules>
            <name>if_status_equals_closed_cannot_completer_cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_Completion_date</targetReference>
            </connector>
            <label>if  status equals ,closed ,cannot completer ,cancelled</label>
        </rules>
        <rules>
            <name>Status_is_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFI_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <label>Status is Cannot Complete</label>
        </rules>
    </decisions>
    <formulas>
        <name>updateCompletionDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Updatedate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>Updatedate2</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <interviewLabel>RFI Item: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RFI Item: RFI Item Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_detail</name>
        <label>update detail</label>
        <locationX>124</locationX>
        <locationY>238</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incorrect_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Category_Classification__c</field>
            <value>
                <elementReference>$Record.Incorrect_Category__r.Category_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Type__c</field>
            <value>
                <elementReference>$Record.Incorrect_Category__r.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Incorrect_Category__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_detail_0</name>
        <label>update detail</label>
        <locationX>80</locationX>
        <locationY>426</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incorrect_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Category_Classification__c</field>
            <value>
                <elementReference>$Record.Incorrect_Category__r.Category_Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Type__c</field>
            <value>
                <elementReference>$Record.Incorrect_Category__r.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Incorrect_Category__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Due_Date</name>
        <label>Update Due Date</label>
        <locationX>839</locationX>
        <locationY>249</locationY>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Updatedate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Due_Date3</name>
        <label>Update Due Date</label>
        <locationX>854</locationX>
        <locationY>628</locationY>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Updatedate2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_RFI_detail_owner_to_IE_Owner</name>
        <label>update RFI detail owner to IE Owner</label>
        <locationX>845</locationX>
        <locationY>435</locationY>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Updatedate2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_Completion_date</name>
        <label>update the Completion date</label>
        <locationX>76</locationX>
        <locationY>604</locationY>
        <inputAssignments>
            <field>Completion_date__c</field>
            <value>
                <elementReference>updateCompletionDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>RFI_Item_Updation</targetReference>
        </connector>
        <object>RFI_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
