unpackaged/main/default/flows/Subscription_Update_PPT_Status_from_Quote_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_PPT</name>
        <label>Add to PPT</label>
        <locationX>484</locationX>
        <locationY>1209</locationY>
        <assignmentItems>
            <assignToReference>PPTtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Plant_Product_Transaction_Record_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plant_Product_Transaction_Record_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>141</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contracted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PPT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_Decommissioned</name>
        <label>Update Status to Decommissioned</label>
        <locationX>326</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decommissioned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plant_Product_Transaction_Record_Update.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PPT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Amendment_and_Renewal_Action</name>
        <label>Check Amendment and Renewal Action</label>
        <locationX>136</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Plant_Product_Transaction_Record_Update.Amendment_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Removed Plant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Plant_Product_Transaction_Record_Update.Renewal_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Removed Plant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Decommissioned</targetReference>
            </connector>
            <label>Check action</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plant_Product_Transaction_Records_Found</name>
        <label>Plant Product Transaction Records Found</label>
        <locationX>575</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plant_Product_Transaction_Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Plant_Product_Transactions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plant_Product_Transaction_Record_Update</targetReference>
            </connector>
            <label>Plant Product Transaction Record found?</label>
        </rules>
    </decisions>
    <description>REQ - 3038</description>
    <interviewLabel>Subscription : Update PPT Status from Quote Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription : Update PPT Status from Quote Line</label>
    <loops>
        <name>Plant_Product_Transaction_Record_Update</name>
        <label>Plant Product Transaction Record Update</label>
        <locationX>443</locationX>
        <locationY>743</locationY>
        <collectionReference>Get_Plant_Product_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Amendment_and_Renewal_Action</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PPT_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Plant_Product_Transactions</name>
        <label>Get Plant Product Transactions</label>
        <locationX>575</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Plant_Product_Transaction_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Line.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Plant_Product_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>575</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Plant_Product_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PPT_Records</name>
        <label>Update PPT Records</label>
        <locationX>799</locationX>
        <locationY>1053</locationY>
        <inputReference>PPTtoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PPTtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Plant_Product_Transaction__c</objectType>
    </variables>
</Flow>
