unpackaged/main/default/flows/Subscription_Call_Up_CAT_creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Generate_Customer_Asset</name>
        <label>Check Generate Customer Asset</label>
        <locationX>560</locationX>
        <locationY>404</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.QS_Generate_Asset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QS_Product_Subscription_Pricing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QS_Parent_Customer_Asset_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_and_Generate_Records</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <interviewLabel>Subscription: Call Up CAT creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription: Call Up CAT creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Generate_Customer_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_and_Generate_Records</name>
        <label>Call and Generate Records</label>
        <locationX>882</locationX>
        <locationY>427</locationY>
        <flowName>CA2_Subscriptions_Create_CATs</flowName>
        <inputAssignments>
            <name>Subscription_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
