unpackaged/main/default/flows/Update_Account_Type_based_on_Account_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update_Account_Type_as_3rd_Type</name>
        <label>Update Account Type as 3rd Type</label>
        <locationX>467</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3rd Party</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Account_Type_as_Billing_Account_Only</name>
        <label>Update Account Type as &quot;Billing Account Only&quot;</label>
        <locationX>681</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing Account Only</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Account_Type_as_Competitor</name>
        <label>Update Account Type as Competitor</label>
        <locationX>241</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Competitor</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Account_Type_as_Prospect</name>
        <label>Update Account Type as Prospect</label>
        <locationX>975</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Account_Record_Type</name>
        <label>Check Account Record Type</label>
        <locationX>459</locationX>
        <locationY>317</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Competitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Type_as_Competitor</targetReference>
            </connector>
            <label>Check for Competitor</label>
        </rules>
        <rules>
            <name>Check_for_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Purchase_Products</targetReference>
            </connector>
            <label>Check for Prospect</label>
        </rules>
        <rules>
            <name>Check_for_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <label>Check for Customer</label>
        </rules>
        <rules>
            <name>Check_for_3rd_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third_Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Type_as_3rd_Type</targetReference>
            </connector>
            <label>Check for 3rd Party</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prospect_Account_Type</name>
        <label>Check Prospect Account Type</label>
        <locationX>760</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Type_as_Prospect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Billing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Account_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Type_as_Prospect</targetReference>
            </connector>
            <label>No Billing Account</label>
        </rules>
        <rules>
            <name>Billing_Account_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Account_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Purchase_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Type_as_Billing_Account_Only</targetReference>
            </connector>
            <label>Billing Account Only</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account Type based on Account Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account :- Update Account Type based on Account Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Purchase_Products</name>
        <label>Get Purchase Products</label>
        <locationX>689</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Prospect_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchased_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>329</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Account_Record_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
